<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="Author" method="POST">
        <center><h1>Autores</h1> <br>
    <label for="">Name</label>
        <input name="name" id="name" type="text"><br><br>
    <label for="">nationality</label>
         <input name="nationality" id="nationality" type="text"><br><br>
    <label for="">birth</label>
         <input name="birth" id="birth" type="text"><br><br>
    <label for="">fields</label>
         <input name="fields" id="fields" type="text"><br><br>

   
    <input class="button-primary" type="submit" value="Create">
</center>
</form>
</body>
</html>