<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Publisher</h1> <br>
    <form action="Publisher" method="POST">
          <label for="">name</label>
    <input name="name" id="name" type="text"><br><br>
          <label for="">country</label>
    <input name="country" id="country" type="text"><br><br>
         <label for="">founded</label>
    <input name="founded" id="founded" type="text"><br><br>
         <label for="">genere</label>
    <input name="genere" id="genere" type="text"><br><br>
  
    <input class="button-primary" type="submit" value="Create">
</center>
</form>
</body>
</html>